body {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;
}

p {
    margin: 0;
}

img[alt] {
    color: red;
    text-align: center;
}

textarea {
    resize: none;
}

.profile {
   
}

.profile__wallpaper {
    position: relative;
    display: flex;
    height: 150px;
    padding: 20px;
    justify-content: flex-end;
    align-items: flex-start;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(172, 172, 172);
}

.container {
    
}

.btn {
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 7px;
    font-size: 15px;
    color: var(--main-color);
    background-color: grey;
    border: unset;
}

.wallpaper_btn {
    
}

.profile__wallpaper__edit__link {
    
}

.profile__container {
    display: flex;
    height: 80px;
    transform: translateY(-20%);
    justify-content: space-between;
    gap: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: var(--main-color);
    background-color: var(--back-color);
}

.profile__img {
   
}

.profile__avatar {
    position: relative;
    top: -95px;
    width: 150px;
    height: 150px;
    object-fit:cover;
    object-position: 50% 20%;
    border-radius: 50%;
}

.profile__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile__name {
    font-size: 26px;
}

.profile__dscr {
    font-size: 14px;
}

.profile__btm {
    display: flex;
    gap: 20px;
}

.profile__location {

}

.profile__job {

}

.profile__info {

}

.profile_right {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1 0 auto;
}

.profile__edit__btn {

}

.profile__edit__link {

}

.profile__more {

}

.profile__more__link {

}

.profile__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.profile__textarea {
    border-radius: 10px;
}

.profile__btn {
    align-self: center;
}