.users__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.users__item {
    
}

.user__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.users__item__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.users__avatar {
    width: 120px;
}

.users__btn {
    width: 100%;
}

.users__item__right {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    border: 1px solid gray;
}

.users__pages__list {
    display: flex;
    gap: 10px;
}

.users__pages__item {
    
}

.users__pages__item_active {
    color: brown;
}
