.users__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.users__item {
    
}

.user__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.users__item__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.users__item__right {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    border: 1px solid gray;
}