.messeges__list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    list-style-type: none;
}

.messeges__item {
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #00000080;
}

.messeges__item:not(:first-child) {
    margin-top: 10px;
}

.messeges__item_t {
    align-self: flex-end;
    color: green;
}

.messeges__item_f {
    align-self: flex-start;
    color: red;
}

.messeges__form {
    display: flex;
    margin-top: 35px;
    flex-direction: column;
}

.messeges__text {
   
}

.messeges__btn {
    align-self: center;
    margin-top: 10px;
}