.container {
  display: grid;
  max-width: 1770px;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 120px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
}

.App__content {
  grid-area: c;
  background-color: aquamarine;
}

body {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

textarea {
  resize: none;
}
