.posts__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.posts__item {

}

.posts__avatar {
    width: 100px;
    height: 100px;
    object-fit:cover;
    object-position: 45% 20%;
    border-radius: 50%;
}

.posts__dscr {
    color: var(--main-color);
}