.nav {
  grid-area: n;
  background-color: brown;
}

.nav__list {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  flex-direction: column;
  gap: 10px;
}

.nav__item {
  color: rgb(136, 255, 0);
}

.nav__link {
  cursor: pointer;
}